.header {
  background-color: rgb(109, 24, 24);
  padding: 1% 2%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box; 
}

.title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-right: auto; 
}

.nav {
  display: flex;
  align-items: center; 
}

.nav a {
  margin: 0 1em;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap; 
}

.nav a:hover {
  color: #ff0000;
}
